.messages {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: auto;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0px;
    position: absolute;
    top: 40px;
    bottom: 0;
    background-color: #fff;
}

.messages li {
    list-style-type: none;
    position: relative;
    margin: 0;
}

.messages li.message {
    padding: 0;
    border-left: 175px solid #f1f1f1;
}

.messages li {
    list-style-type: none;
    position: relative;
    margin: 0;
}

.message .middle {
    margin-right: 95px;
    padding: 5px;
    word-wrap: break-word;
}

.messages li .right {
    position: absolute;
    padding: 5px;
    top: 0;
    right: 0;
    width: 85px;
    font-size: .9em;
    text-align: right;
}

.message .left {
    float: left;
    width: 170px;
    padding: 5px;
    margin-left: -175px;
}

.message .middle.first:before, .message.my-message .middle.first:before, .message.highlight .middle.first:before, .message.highlight.my-message .middle.first:before {
    content: "";
    position: absolute;
    left: -8px;
    top: 8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #fff;
    border-bottom: 8px solid rgba(255, 255, 255, 0);
    border-top: 8px solid #fff;
    border-top: 8px solid rgba(255, 255, 255, 0);
    border-right: 8px solid #fff;
}
.list-header {
    padding: 3px 5px;
    color: #c5c5c5;
    border-bottom: 1px solid #eee;
}




#heading {
    background-color: #00103f;
    color: #fafafa;
    position: absolute;
    left: 10px;
    top: 0;
    width: 100%;
    height: 45px;
    padding-top: 9px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


#chat-area {
    position: absolute;
    top: 45px;
    bottom: 50px;
    left: 10px;
    right: 0;
    background-color: #e5e5e5;
    color: #00103f;
}


#send-message {
    margin: 0;
    position: absolute;
    bottom: 0;
    height: 40px;
    left: 10px;
    right: 0px;
}

#send-message input[type=text] {
    width: 90%;
}